body {
  min-width: 168px;
  color: var(--color-text-0);
  font-size: 16px;
  line-height: 1.5;
  font-family: Inter, 'SF UI Text', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei UI',
    'Microsoft YaHei', Arial, sans-serif;
}

.options {
  display: flex;
  flex-direction: column;

  &Item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
    font-size: var(--font-size-md);
    width: 100%;
    height: 40px;
    color: var(--color-text-1);
    text-decoration: none;

    &:hover {
      background-color: var(--color-tertiary-light-hover);
    }

    &.selected {
      color: var(--color-primary-text);
      background-color: var(--color-primary);
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border-1);
  border: none;
}
