.profile {
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  border-bottom: 1px solid var(--color-border-1);

  &Title {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.colorPicker {
  inline-size: 36px;
  block-size: 36px;
}

.title {
  font-size: var(--font-size-3xl);
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.deleteProfile {
  padding: 16px 0;
  font-size: var(--font-size-md);

  &Name {
    margin: 8px 0;
    padding: 12px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semi-bold);
    border-radius: var(--border-radius-xs);
    background-color: var(--color-bg-2);
  }

  &Footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }
}

.section {
  padding: 16px 0;
  font-size: var(--font-size-md);

  &Title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semi-bold);
  }

  &Description {
    margin: 8px 0;
    color: var(--color-text-2);
  }

  &Body {
    margin: 8px 24px;
  }

  &Table {
    max-width: 800px;
  }

  &Textarea {
    max-width: 80%;
    margin: 8px 0;
  }
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-sm);
  width: 24px;
  height: 24px;

  &:hover,
  &:focus {
    background-color: var(--color-tertiary-light-hover);
  }

  &Icon {
    width: 16px;
    height: 16px;
  }
}

.editProfile {
  padding: 16px 0;

  &Footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }
}
