.wrapper {
  width: 100%;
}

.table {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: repeat(var(--count-column), auto);
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-sm);
  overflow: auto;
}

.head {
  display: contents;

  &Row {
    display: contents;
  }

  &Cell {
    position: sticky;
    top: 0;
    padding: 12px;
    text-align: left;
    background-color: var(--color-bg-2);
  }
}

.body {
  display: contents;

  &Row {
    display: contents;

    &:nth-child(even) {
      .bodyCell {
        background-color: var(--color-tertiary-light-hover);
      }
    }
  }

  &Cell {
    padding: 12px;
    border-bottom: 1px solid var(--color-border-0);
  }
}
