:root {
  --color-primary: #0078d4;
  --color-primary-hover: #106ebe;
  --color-primary-selected: #005a9e;
  --color-primary-disabled: #c8c8c8;
  --color-primary-text: var(--color-white);

  --color-tertiary-light: rgba(249, 249, 249, 0.5);
  --color-tertiary-light-hover: rgba(230, 234, 233, 0.5);
  --color-tertiary-light-selected: rgba(198, 205, 203, 0.5);

  --color-disabled-bg: #e6eae9;
  --color-disabled-text: #c6cdcb;
  --color-disabled-border: #e6eae9;

  --color-white: #fff;
  --color-black: #000;
  --color-text-0: #222726;
  --color-text-1: #464e4d;
  --color-text-2: #6b7573;
  --color-text-3: #889290;

  --color-border-0: #f5f5f5;
  --color-border-1: #d1d1d6;

  --color-bg-0: var(--color-white);
  --color-bg-1: #f9f9f9;
  --color-bg-2: #e8e8e8;

  --width-sidebar: 240px;
  --height-header: 48px;

  --font-size-xs: 0.625rem; /* 10px */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-md: 0.875rem; /* 14px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */
  --font-size-2xl: 1.25rem; /* 20px */
  --font-size-3xl: 1.5rem; /* 24px */
  --font-size-4xl: 1.75rem; /* 28px */
  --font-size-5xl: 2rem; /* 32px */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
