.transfer {
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
  border-bottom: 1px solid var(--color-border-1);
}

.title {
  font-size: var(--font-size-3xl);
}

.section {
  padding: 16px 0;
  font-size: var(--font-size-md);

  &Title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semi-bold);
  }

  &Body {
    margin: 8px 24px;
  }

  &Item {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;

    &Description {
      color: var(--color-text-1);
      font-size: var(--font-size-md);
    }
  }
}
